body {
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#welcome, #notes {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    background-color:rgba(108, 163, 210, 0.618);
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid;
    width: 60%;
    height: 60%;
    border-radius: 16px;
    padding: 20px;
}

#welcomeheader, #notesheader {
    display: flex;
    cursor:move;
    backdrop-filter: blur(10px);
    background-color:rgb(101, 153, 226);
    border-radius: 16px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

}
.topbar {
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    background-color: rgba(35, 105, 148, 0.325);
    width: 100%;
    border-radius:16px;
}

.topbar p {
    background-color: rgba(146, 174, 221, 0.544); 
    padding: 6px 15px; 
    border-radius: 16px;
}

#welcomeclose, #notesclose {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color:red;
}

.desktopApps {
    display:flex;
    position:absolute;
    justify-content:space-evenly;
    width: 99%;
    backdrop-filter: blur(10px);
    background-color:rgba(102, 189, 232, 0.826);
    transform: translateY(calc(87vh - 60px));
}

.desktopApps img {
    width:64px;
    height: 64px;
    border-radius:16px;
    padding-top:4px;
}

.selected {
    transition: transform 0.3s;
    transform: translateY(-10px);
}