body {
    background-image: url(background.png);
    background-size: fill;
    background-repeat: no-repeat;
}

.intro {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid;
    width: 128px;
    border-radius: 16px;
    padding: 20px
}

.topbar {
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    background-color: rgba(167, 202, 223, 0.325);
    width: 100%;
}

.topbar p {
    background-color: rgba(146, 174, 221, 0.544); 
    padding: 6px 15px; 
    border-radius: 16px;
}